/* 📌 Estructura general */
.chat-page-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    transition: margin-left 0.3s ease;
}

/* 📌 Organización de las ventanas */
.chat-layout {
    width: 100%;
    max-width: calc(100vw - 200px);
    height: 83vh;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 100px;
    margin-bottom: 60px;
}

/* 📌 LeftPanel - Manejo de la ubicación y estructura */
.left-panel-container {
    flex: 1;
    height: 100%;
    margin-left: 12px;
    align-items: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--window-background); 
    padding: 0;
    box-shadow: var(--window-shadow);
    border-radius: 20px;
    overflow-y: auto;
}

/* 📌 Contenedor general del chat */
.chat-window-container {
    flex: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: visible;
    background-color: transparent;
    position: relative;
}

/* 📌 RightPanel */
.right-panel-container {
    flex: 1;
    height: 100%;
    margin-right: 12px;
    align-items: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: var(--window-background);
    padding: 0;
    box-shadow: var(--window-shadow);
    border-radius: 20px;
    overflow-y: auto;
}

/* 📌 Eliminamos cualquier margen o padding innecesario */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 📌 Responsive */
@media (max-width: 1024px) {
    .chat-layout {
        flex-direction: column;
        height: auto;
        align-items: center;
        width: 90%;
    }

    .left-panel-container,
    .chat-window-container,
    .right-panel-container {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .right-panel-container {
        display: none;
    }
}
