.wallet-menu {
    position: fixed;
    top: 0;
    right: -300px; /* Menú fuera de la pantalla por defecto */
    width: 300px;
    height: 100%;
    background-color: #ffffff; /* Fondo oscuro */
    color: #2b2323 ;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Permite scroll si el contenido excede */
    transition: right 0.3s ease; /* Animación suave al abrir/cerrar */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.wallet-menu.open {
    right: 0; /* Mueve el menú dentro de la pantalla al abrir */
}

.wallet-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #e6dfda; /* Línea divisoria entre encabezado y contenido */
}

.close-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s ease; /* Transición suave al pasar el ratón */
}

.close-button:hover {
    color: #ff4d4d; /* Cambia a rojo al pasar el ratón */
}

.wallet-menu-content {
    padding: 15px; /* Espaciado interno del contenido */
    text-align: center; /* Alineamos todo al centro */
}

.wallet-address {
    background: #ffffff; /* Fondo oscuro para destacar menos */
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word; /* Maneja direcciones largas */
    margin-bottom: 15px; /* Espacio debajo de la dirección */
}

.connect-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fc554f;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.connect-button:hover {
    background-color: #fc564f;
    opacity: 0.8;
}

.logout-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff4d4d; /* Rojo para indicar acción de desconexión */
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Suaviza el cambio de color al pasar el ratón */
}

.logout-button:hover {
    background-color: #e04343; /* Rojo más oscuro al pasar el ratón */
}
