.wallet-container {
    display: flex;
    align-items: center; /* Centra verticalmente los botones */
    gap: 8px; /* Espaciado entre el botón principal y el botón menú */
}

/* Botón principal para conectar */
.wallet-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #fc554f;
    color: white;
    height: 40px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    padding: 0 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efecto al pasar el ratón */
.wallet-button:hover {
    background-color: #fc564f;
    opacity: 0.8;
}

.wallet-balance {
    margin-top: 8px;
    font-size: 14px;
    color: #333;
    font-family: 'Inter', sans-serif;
    text-align: center;
}


/* Botón del menú */
.menu-button {
    width: 40px; /* Ancho del botón */
    height: 40px; /* Altura del botón */
    background-color: #fc554f;
    color: #ffffff;
    width: 40px; /* Ancho cuadrado */
    height: 40px; /* Altura igual al botón "Connect Wallet" */
    border: none;
    border-radius: 10px; /* Mismo redondeo que "Connect Wallet" */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    padding: 0; /* Sin relleno */
}

.menu-button:hover {
    background-color: #fc564f;
    opacity: 0.8;
}

/* Icono de tres líneas */
.menu-icon {
    position: relative;
    width: 20px; /* Ancho de las líneas */
    height: 2px; /* Grosor de la línea central */
    background-color: white; /* Color de la línea central */
    display: inline-block;
}

.menu-icon::before,
.menu-icon::after {
    content: "";
    position: absolute;
    width: 20px; /* Mismo ancho que la línea principal */
    height: 2px; /* Mismo grosor */
    background-color: white; /* Mismo color */
    left: 0; /* Alineación al inicio */
}

.menu-icon::before {
    top: -6px; /* Línea superior */
}

.menu-icon::after {
    top: 6px; /* Línea inferior */
}
